.banner-wrapper {
    max-width: 2560px;
}
.banner-heading-container {
    margin-top: 12em;
    margin-bottom: 3em;
}
.banner-heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}
.banner-heading span {
    color: var(--primary);
}
.banner-sub-heading {
    font-size: var(--link);
    font-weight: 600;
}
.banner-btn {
    font-size: 16px;
    color: var(--body);
    outline: 1px solid var(--primary);
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    transition: all ease-in-out 300ms;
}
.banner-btn:hover {
    background-color: var(--primary-alt);
}
.banner-icons{
    padding: 1.3em;
    color: var(--body);
    background-color: var(--primary);
    margin-bottom: 1em;
}
.banner-details {
    font-weight: bold;
}




 @media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 1200px; */
}
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
 }
 @media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .banner-heading-container {
        margin-top: 10em;
        margin-bottom: 3em;
    }
    .banner-sub-heading {
        width: 75%;
    }
 }
 @media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .banner-wrapper {
        padding-bottom: 5em;
    }
    .banner-heading-container {
        margin-top: 5em;
        margin-bottom: 0;
    }
    .banner-heading {
        font-size: 35px;
    }
    .banner-sub-heading {
        width: 100%!important;
    }
    .banner-details {
        font-size: 12px;
    }
    .banner-sub-details {
        font-size: 12px;
    }
    .banner-icons{
        padding: 1em;
    }
 }
@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .banner-wrapper {
        padding-bottom: 5em;
    }
    .banner-heading-container {
        margin-top: 5em;
        margin-bottom: 0;
    }
    .banner-heading {
        font-size: 35px;
    }
    .banner-details {
        font-size: 12px;
    }
    .banner-sub-details {
        font-size: 12px;
    }
    .banner-icons{
        padding: 1em;
    }
 }


 
