.contact-wrapper {
    padding: 7em 0;
    max-width: 2560px;
}
.contact-title {
    color: var(--primary);
}
.contact-heading {
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
}
.contact-form-title {
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control {
    font-size: 16px;
}
.contact-btn {
    font-size: 16px;
    color: var(--body);
    outline: 1px solid var(--primary);
    background-color: var(--primary);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    transition: all ease-in-out 300ms;
}
.contact-btn:hover {
    background-color: var(--primary-alt);
}
.contact-divider-container {
    width: 2%;
    padding-top: 2em;
}
.contact-divider {
    background-color: var(--hr);
    height: 15em;
    width: 2px;
    margin: 0;
}
.contact-info {
    color: var(--primary);
    font-size: 30px;
}
.contact-info-title {
    color: var(--text);
    font-size: 20px;
    font-weight: 500;
}
.contact-info-sub {
    color: var(--link);
}



@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .contact-wrapper {
        padding: 2em 0;
        max-width: 2560px;
    }
    .contact-info-title,
    .contact-info-sub {
        font-size: 14px;
    }
    .contact-info {
        font-size: 22px;
    }
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .contact-wrapper {
        padding: 2em 0;
        max-width: 2560px;
    }
    .contact-info-title,
    .contact-info-sub {
        font-size: 14px;
    }
    .contact-info {
        font-size: 22px;
    }
 }
 
 @media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .contact-wrapper {
        padding: 3em 0;
        max-width: 2560px;
    }
 }
 
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
     .contact-wrapper {
        padding: 3em 0;
        max-width: 2560px;
    }
 }
 
 @media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
 }