.footer-wrapper {
    background-color: var(--primary);
    max-width: 2560px;
}
.footer-logo {
    color: var(--body);
    font-size: 30px;
    font-weight: bold;
    transition: all ease-in-out 300ms;
    text-decoration: none;
}
.footer-logo:hover {
    color: var(--text);
}
.footer-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-links-title {
    color: var(--body);
    font-size: 18px;
    font-weight: 600;
}
.footer-links {
    color: var(--footer-link);
    font-size: 16px;
    text-decoration: none;
    transition: all ease-in-out 300ms;
    border-right: 2px solid var(--hr);
    padding: 0 5px;
}
.footer-links.contact {
    border: none;
}
.footer-links:hover {
    color: var(--text);
}
.footer-about-title,
.footer-icons-title {
    color: var(--body);
    font-size: 18px;
    font-weight: 600;
}
.footer-about {
    font-size: 16px;
    color: var(--footer-link);
}
.footer-icons i {
    color: var(--body);
    font-size: 22px;
    transition: all ease-in-out 300ms;
}
.footer-icons i:hover {
    color: var(--text);
}

.copyright-wrapper {
    background-color: var(--text);
    padding: 1em 0;
}
.copyright {
    font-size: 12px;
    margin: 0;
    color: var(--body);
}
.copyright a {
    color: var(--body);
    font-weight: 600;
}


@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
 }

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
 }
 
 @media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .footer-icons-title {
        justify-content: start;
    }
 }
 
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
 }
 
 @media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
 }