#header-navbar{
    transition: background-color 0.5s;
}
.navbar-logo {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--primary);
}
.navbar-logo:hover {
    color: var(--primary);
}
.header-navscroll{
    background-color: var(--body);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-link {
    font-weight: 500;
    color: var(--link);
}
.nav-link:hover {
    color: var(--primary);
}
.nav-link:focus {
    color: var(--primary);
}
/* .link-active {
    color: var(--primary);
    font-weight: bold;
} */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(10,10,10)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: var(--hr);
  } 

.navbar-toggler:focus {   
    border-color: var(--hr);
    box-shadow: 0px 0px 2px 2px rgba(78, 78, 78, 0.4);
    outline: 0 none;
}






@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .navbar-logo {
        font-size: 25px;
        font-weight: bolder;
        text-decoration: none;
        color: var(--primary);
    }
 }

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .navbar-logo {
        font-size: 25px;
        font-weight: bolder;
        text-decoration: none;
        color: var(--primary);
    }
 }
 
 @media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
 }
 
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
 }
 
 @media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
 }